
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}
.btn{
  display: flex;
  align-items: center;
  border: 2px solid rgba(0, 48, 110, .1);
  border-radius: 6px;
  color: #00306e;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 14px 35px;
  outline: none !important;
  text-decoration: none !important;
  transition: all .5s ease 0s;

  }
  .featherArrowRight {
    margin-left: 8px; /* Adjust as needed */
  }
